[submodule "external/tsdf_fusion"]
	path = external/tsdf_fusion
	url = https://github.com/andyzeng/tsdf-fusion-python
[submodule "external/virtualhome"]
	path = external/virtualhome
	url = git@github.com:xavierpuigf/virtualhome.git
